<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745453900534-5341ortks7crqakseocr95rq3hg48vlq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745453900534-5341ortks7crqakseocr95rq3hg48vlq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>745453900534-vu547h1sql7tc10d5b09mpti3a9c3f9k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCF9IschExmGjBx4QtIVNVAdIL2YP4gKBI</string>
	<key>GCM_SENDER_ID</key>
	<string>745453900534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.innovativeminds.finsec</string>
	<key>PROJECT_ID</key>
	<string>finsecfam</string>
	<key>STORAGE_BUCKET</key>
	<string>finsecfam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745453900534:ios:c1a972c1800d51101112d7</string>
</dict>
</plist>